AddDefaultCharset UTF-8
php_value upload_max_filesize 256M
php_value post_max_size 256M
php_value max_execution_time 1600
php_value max_input_time 1600
DirectoryIndex index.php
php_flag display_errors on

#ErrorDocument 404 /lego/404.html
ErrorDocument 404 /404.html

#Options +FollowSymLinks
RewriteEngine on
#RewriteBase /lego
RewriteBase /

RewriteCond %{HTTP_HOST} (.*)
RewriteCond %{REQUEST_URI} /$ [NC]
RewriteCond %{REQUEST_URI} !adminka/$ [NC]
RewriteCond %{REQUEST_URI} !kcfinder [NC]
RewriteRule ^(.*)(/)$ $1 [L,R=301]

RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
RewriteCond %{REQUEST_URI} (.*)/index.php$
RewriteRule ^(.*)$ %1 [R=301,L]
RewriteCond %{REQUEST_URI} (.*)/index.html$
RewriteRule ^(.*)$ %1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

#RewriteCond %{REQUEST_URI} ^/lego/(.*)[/]{1}(.*)$ [NC]
RewriteCond %{REQUEST_URI} ^/(.*)[/]{1}(.*)$ [NC]

RewriteRule ^(.*)$ http://%1/$1 [R=404,L]

RewriteRule ^search=(.*)?$ ?view=search&search=$1

RewriteRule ^page-(\d+)?$ ?view=main&page=$1

RewriteRule ^catalog?$ ?view=category

RewriteRule ^category-(\d+)-(.*)(\D+)?$ ?view=category_page&id=$1

RewriteRule ^info-(\d+)?$ ?view=info_page&id=$1

RewriteRule ^product-(.*)-(.*)(\D+)?$ ?view=product&id=$1

RewriteRule ^article-(.*)-(.*)(\D+)?$ ?view=article_page&id=$1

RewriteRule ^cart?$ ?view=cart
