@media (max-width:700px) { 
    nav {
        display:none;
    }
    .productGallery {
        margin:0 0 20px 0;
        padding:0 2%;
        width:96%;
    }
    
    #order table thead tr td {
        font-size:12px;
        padding:3px;
    }

    .productGallery img.bigFoto {
        width:100%;
    }

    .productData {
        width:96%;
    }
    
    .orderFoto {
        display:none;
    }
    
    .orderTitle a {
        font-size:13px;
    }
    
    .orderPrice strong {
        font-size:14px;
    }
}

@media (max-width:650px) { 
    #footerBody .block {
        font-size:14px;
        text-align:center;
        width:96%;
    }
    
    
}

@media (max-width:550px) {
    #searchField {
        border:1px solid #f3f3f3;
        border-radius:3px;
        float:right;
        margin:20px 0 0 0;
        width:207px;
    }
    
    #searchField input.inp {
        width:100px;
    }
    
    #searchField i {
        display:none;
    }
    
    .productPreview {
        padding:5px;
        margin:0 0 20px 0;
        width:260px;
    }
    
    .productPreview:hover {
        box-shadow: none;
    }
    
    a.catPreviewBlock:hover {
        box-shadow: none;
    }
    
    .productPrice {
        text-align:center;
    }
    
    .productBuy {
        font-size:14px;
    }
    .numbers {
        width: 75px;
    }
    .numbers input {
        border: 1px solid #eee;
        padding:16px 10px;
        font-size: 14px;
        margin: 0 0 10px 5px;
        width: 20px;
        text-align: center;
    }
}