
@media (max-width:800px) {
    #searchField {
        border:1px solid #f3f3f3;
        border-radius:3px;
        float:right;
        margin:20px 0 0 0;
        width:207px;
    }
    
    #searchField input.inp {
        width:100px;
    }
    
    #searchField i {
        display:none;
    }
}

@media (max-width:700px) { 
    nav {
        border-bottom: 0;
        height: auto;
        padding:0 0 10px 0;
        position:relative;
        float:left;
        max-width:200px;
    }
    
    .slider p {
        display:none;
    }

    nav a {
        font-size:16px!important;
        position:relative;
        border-bottom:none!important;
        padding:10px 0 0 0;
    }
	
    nav ul {
        display: none;
        height: auto;
        width: 100%;
        padding-top:10px;
    }
    nav a#pull {
        display: block;
        color:#fff;
        position: relative!important;
        text-align:left;
        z-index: 99;
        padding: 10px 10px 10px 0!important;
        border-bottom:0;
        top:9px;
        left:10px;
        font-size:16px!important;
    }
    nav a#pull:after {
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        left: 5px;
        margin:0 20px 0 0;
    }
    nav li {
        display: block;
        float: none;
        width: 100%;
    }
    nav li a span {
        border-right:none!important;
        border-bottom:1px dashed #78CDE4;
        display:inline-block;
        padding:0 3px 10px 3px!important;
    }

    nav a.sel {
        border-bottom:0;
        font-weight:700;
    } 

    nav ul li a:hover {
        border-bottom:1px dashed #78CDE4;
    }

    a#basketSmall em {
        display:none;
    }

    a#basketSmall i {
        color:rgba(255,255,255,1);
    }
    
    a#basketSmall span {
        background-color: #E64A19;
        color:#fff;
        display:inline-block;
        padding:3px 5px;
        border-radius:3px;
    }
    
    .productGallery {
        margin:0 0 20px 0;
        padding:0 2%;
        width:96%;
    }
    
    #order table thead tr td {
        font-size:12px;
        padding:3px;
    }

    .productGallery img.bigFoto {
        width:100%;
    }

    .productData {
        width:96%;
    }
    
    .orderFoto {
        display:none;
    }
    
    .orderTitle a {
        font-size:13px;
    }
    
    .orderPrice strong {
        font-size:14px;
    }

    #catSort .block {
        clear:both;
        text-align:center;
        width:100%;
        padding:0 0 15px 0;
    }

    #catSort .block.mid {
        clear:both;
        text-align:center;
        width:100%;
        padding:0 0 15px 0;
    }  
}

@media (max-width:650px) { 
    #footerBody .block {
        font-size:14px;
        text-align:center;
        width:96%;
    }
    
    .notify > div {
        width:80%;
        text-align:center;
    }
    
    .notify p a.btn {
        float:none;
        margin:0 0 20px 0;  
        width:200px;
        text-align:center;
    }

    .btn span {
        padding: 10px 5px;
        font-size: 13px;
        margin:8px 0 0 0;
    }

    .label {
        border-radius:3px;
        color:#fff;
        font-size:14px;
        font-weight:300;
        margin:0 0 5px 4px;
        padding:5px 10px;
        display:inline-block;
    }
    
    .catAbout {
        display:none;
    }     
    
    .slogan1 {
        display:none;
    }
    
    
}

@media (max-width:550px) {
    .productPreview {
        padding:5px;
        margin:0 0 20px 0;
        width:260px;
    }
    
    .productPreview:hover {
        box-shadow: none;
    }
    
    a.catPreviewBlock:hover {
        box-shadow: none;
    }
    
    .productPrice {
        text-align:center;
    }
    
    .productBuy {
        font-size:14px;
    }
    .numbers {
        width: 75px;
    }
    .numbers input {
        border: 1px solid #eee;
        padding:16px 10px;
        font-size: 14px;
        margin: 0 0 10px 5px;
        width: 20px;
        text-align: center;
    }

    #contactsLineBody {
        text-align:center;
    }

    #contactsLineBody span {
        clear:both;
        display:block;
        padding:0 0 10px 0;
        width:100%;
    }
    
    .slider {
        display:none;
    }
}
