@media (max-width:700px) { 
    nav {
        display:none;
    }
}

@media (max-width:550px) {
    
    #searchField {
        border:1px solid #f3f3f3;
        border-radius:3px;
        float:right;
        margin:20px 0 0 0;
        width:207px;
    }
    
    #searchField input.inp {
        width:100px;
    }
    
    #searchField i {
        display:none;
    }
}