*{
    margin:0;
    padding:0;
}

html { 
    height:100%;
    width:100%
}

body {
    font-family:'Roboto', sans-serif;
    font-size:14px;
    height:100%;
    position:relative;
    width:100%;
}

a img {
    border:0;
}

a {
    outline: 0;
    text-decoration:none;
}

.clear {
    clear:both;
}

input[type=text], input[type=submit], input[type=email], textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input:-moz-placeholder, textarea:-moz-placeholder {
    color:#999;
    font-family:'Roboto', sans-serif;
    font-weight:300;
    font-size:16px;
}
#searchField input::-webkit-input-placeholder {
    color:#ccc;
    font-weight:300;
}
#steps input::-webkit-input-placeholder {
    color:#ccc;
    font-weight:300;
}
#steps textarea::-webkit-input-placeholder {
    color:#ccc;
    font-weight:300;
}

input:focus, textarea:focus, select:focus {
    outline:none;
}
input[disabled] {
    cursor: not-allowed;
}
input.oneClickPhone::-webkit-input-placeholder {
    color:#999;
    font-family:'Roboto', sans-serif;
    font-weight:300;
    font-size:16px;
}

h1 {
    color:#444;
    font-size:30px;
    font-weight:500;
    margin:30px 0 0 0;
}

h1 span {
    color:#999;
    display:block;
    font-size:16px;
    font-weight:300;
}

#contactsLine {
    background-color:#f7f7f7;
    color:#999;
    font-weight:300;
}

#contactsLineBody {
    max-width:1000px;
    margin:0 auto;
    padding:10px;
}

#contactsLineBody span {
    float:right;
}

#contactsLineBody span a {
    color:#2196F3;
}

#topMenuFirst {
    margin:0 auto;
    max-width:1000px;
    padding:0 10px;
}

a#logo {
    display:block;
    height:60px;
    float:left;
    overflow:hidden;
    padding:10px 0;
    width:60px;
}

.slogan1 {
    float:left;
    color:#666;
    margin:0 0 0 30px;
    line-height:20px;
    padding:20px 0 0 0;
    width:250px;
    font-weight:300;
}

.slogan1 a {
    color:rgba(33,150,243,0.9);
    font-weight:bold;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
}

a#logo img {
    height:60px;
    width:60px;
}

#searchField {
    border:1px solid #f3f3f3;
    border-radius:3px;
    float:right;
    margin:20px 0 0 0;
    width:400px;
}

#searchField input.inp {
    border:none;
    color:#111;
    float:left;
    font-family:'Roboto', sans-serif;
    font-weight:500;
    font-size:16px;
    padding:11px 5px 9px 5px;
    width:250px;
}

#searchField input.btn {
    background-color:#F5F5F5;
    border:none;
    color:#ccc;
    cursor:pointer;
    font-family:'Roboto', sans-serif;
    font-size:16px;
    font-weight:300;
    padding:11px 5px 10px 5px;
    width:97px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#searchField input.btn:hover {background-color:#4CAF50;    color:#fff;
border-radius:0 3px 3px 0;}

#searchField i {
    background-color:#F5F5F5;
    color:#ccc;
    float:left;
    padding:13px 15px 13px 15px;
}

#topMenuSecond {
    background-color:#2196F3;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    position:relative;
}

#topMenuSecondBody {
    margin:0 auto;
    max-width:1000px;
    padding:0 10px;
}

nav {
    position: relative;
    max-width:550px;
}
nav ul {
    list-style:none;
}
nav li {
    display: block;
    float:left;
}
nav a {
    border-bottom:3px solid transparent;
    color:#fff;
    font-size:16px;
    font-weight:400;
    display:block;
    padding:17px 0 12px 0;
    text-transform:uppercase;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

nav ul li a:hover {
    border-bottom:3px solid #E64A19;
}

nav ul li a span {
    border-right:1px dashed #78CDE4;
    display:block;
    padding:0 10px;
}

nav a.sel {
    border-bottom:1px solid #fff;
}

nav li a {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
	nav li a i {
		display:none!important;
	}
nav a#pull {
	display: none;
}

a#basketSmall {
    color:rgba(255,255,255,1);
    background-color:rgba(255,255,255,0.3);
    float:right;
    font-size:16px;
    font-weight:400;
    padding:16px 10px 16px 10px;
    text-decoration:none;
}

a#basketSmall i {
    color:rgba(255,255,255,0.7);
}

a#basketSmall em {
    font-style:normal;
    font-size:13px;
    font-weight:300;
}

a#basketSmall span {
    font-weight:700;
}

a#basketSmall:hover {
    background-color:#E30613;
}

#breadcrumbs {
    background-color:#F5F5F5;
}

#breadcrumbsBody {
    color:#999;
    font-size:13px;
    font-weight:300;
    margin:0 auto;
    max-width:1000px;
    padding:15px 10px;
    text-transform:lowercase;
}

#breadcrumbsBody a {
    color:#666;
    text-decoration:none;
}

.slider {
    margin:30px 0 0 0;
    position:relative;
    width:100%;
}

.slider img {
    max-width:100%;
}

.slider p {
    position:absolute;
    color:#fff;
    right:20px;
    top:20px;
    font-weight:700;
    font-size:20px;
    width:40%;
    text-align:right;
}

#content {
    min-height:500px;
    width:100%;
}

#main {
    margin:0 auto;
    max-width:1000px;
    padding:0 10px;
}

#page {
    padding:0 10px;
}

#product {
    margin:0 auto;
    max-width:1000px;
    padding:30px 10px;
}

#info {
    margin:0 auto;
    max-width:1000px;
    padding:0 10px 30px 10px;
}

.text {
    padding:15px 0;
}

.text p {
    padding:0 0 15px 0;
}

.text ul {
    list-style:inside;
    padding:0 0 15px 0;
}

.text ol {
    list-style:inside;
    padding:0 0 15px 0;
}

.text a {
    color:#2196F3;
}

.text img {
    max-width:100%;
}

#catPreview {
    padding:30px 0;
    text-align:center;
}

.search {
    padding:30px 0;
    text-align:center;
}

#main h1 {
    color:#666;
    font-size:30px;
    font-weight:500;
    text-align:left;
    margin:30px 0 0 0;
}

#main h2 {
    color:#666;
    font-size:30px;
    font-weight:500;
    text-align:left;
    margin:30px 0 0 0;
}


h3 {
    color:#666;
    font-size:30px;
    font-weight:500;
    text-align:left;
    margin:30px 0 0 0;
}

a.catPreviewBlock {
    border-radius:5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display:inline-block;
    height:294px;
    margin:0 10px 23px 10px;
    width:220px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

a.catPreviewBlock:hover {
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
}

a.catPreviewBlock img {
    border-radius:5px;
    height:294px;
    width:220px;
}

#newProduct {
    padding:30px 0;
    text-align:center;
}

.productPreview {
    border:1px solid #f5f5f5;
    border-radius:2px;
    display:inline-block;
    margin:0 5px 20px 5px;
    padding:10px;
    position:relative;
    width:280px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    vertical-align:top;
}

.labels {
    position:absolute;
    left:-10px;
    text-align:left;
    top:5px;
}

.labels.product {
    position:relative;
    right:0;
    text-align:right;
    top:0;
    padding:0 0 5px 0;
    right:-10px;
}

.label {
    border-radius:3px;
    color:#fff;
    font-size:14px;
    font-weight:300;
    margin:0 0 5px 4px;
    padding:5px 10px;
    display:inline-block;
    box-shadow:1px 1px 1px rgba(0,0,0,0.2);
}

.label.pr {
    opacity:0.6;
    margin:0 0 5px 4px;
        box-shadow:none;
}

.label.new {
    background-color:#81C784;
}

.label.sale {
    background-color:#FFD54F;
}

.label.exclusive {
    background-color:#29B6F6;
}

.label.soon {
    background-color:#BDBDBD;
}

.label.hit {
    background-color:#F4FF81;
}

.productPreview:hover {
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
}

.productPreview img.big {
    width:100%;
    display:block;
}

.previewTitle {
    color:#aaa;
    font-size:13px;
    font-weight:300;
    height:110px;
    padding:10px;
    text-align:left;
}

.previewTitle a {
    color:#0277BD;
    display:block;
    font-size:19px;
    font-weight:500;
    margin:5px 0 10px 0;
    text-decoration:none;
}

.previewTitle span {
    float:right;
}

.previewPrice {
    color:#333;
    float:left;
    font-size:24px;
    padding:0 0 0 10px;
    text-align:left;
    width:110px;
}

.previewPrice span {
    color:#333;
    font-size:20px;
    font-weight:300;
}

.previewBtn {
    text-align:right;
}

.previewBtn span {
    background-color:#4CAF50;
    border-radius:3px;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-weight:300;
    font-size:15px;
    padding:10px 10px;
        -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.previewBtn span:hover {
    opacity:1;
}

#catProduct {
    text-align:center;
}

.catLogo {
    padding:15px 0;
    text-align:center;
}

.catLogo img {
    max-width:100%;
}

.productGallery {
    float:left;
    margin:0 2% 0 0;
    text-align:center;
    width:48%;
}

.productGallery span {
    display:inline-block;
    margin:0 1%;
    width:22%;
}

.productGallery span img {
    width:100%;
}

.productGallery span img:hover{
    cursor: pointer;
}

.productData {
    float:left;
    padding:0 0 0 2%;
    width:48%;
}

.productData i {
    color:#ccc;
}

#product h1 {
    color:#0277BD;
    margin:0 0 15px 0;
    padding:0 0 15px 0;
    font-weight:300;
}

.productGallery img.bigFoto {
    padding:1%;
    margin:0 0 10px 0;
    width:98%;
}

.productData .block {
    border-bottom:1px dashed #eee;
    margin:0 0 15px 0;
    padding:0 0 5px 0;
}

.productData p {
    font-size:16px;
    font-weight:300;
    padding:0 0 10px 0;
}

.productData p strong {
    font-weight:400;
}

.productPrice {
    color:rgba(0,0,0,0.8);
    font-size:46px;
    padding:0 0 10px 0;
    text-align:right;
    font-weight:bold;
}

.productPrice span {
    color:#444;
    font-size: 20px;
    font-weight: 300;
}

.productBuy {
    font-size:16px;
    font-weight:300;
    float:left;
}

.numbers {
    display:inline-block;
    position:relative;
    width:100px;
}

.numbers input {
    border:1px solid #eee;
    padding:15px;
    font-size:16px;
    margin:0 0 10px 10px;
    width:30px;
    text-align:center;
}

.productAbout {
    padding:0 0 10px 0;
}

.productAbout p {
    font-size:16px;
    font-weight:300;
    line-height:20px;
    padding:0 0 15px 0;
}

img.newsImage {
    max-width:100%;
    margin:30px 0 0 0;
}

.newsProduct {
    text-align:center;
}

.increase {
    right:3px;
    position:absolute;
    top:0;
}

.increase span {
    color:#888;
    cursor:pointer;
    display:block;
    width:23px;
    height:23px;
    text-align:center;
    font-size:20px;
    border:1px solid #eee;
}

.increase span:hover {
    background-color:#f5f5f5;
    color:#000;
}

.btn span {
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-size:17px;
    font-weight:300;
    opacity:0.8;
    padding:15px 20px;
    border-radius:4px;
        -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn span:hover {
    opacity:1;
}

.buyBtnSet {
    float:right;
}

.oneClickBtn {
    margin:5px 0 0 0;
    color:#29B6F6;
    border-bottom:1px dashed #29B6F6;
}

#submitOneClick {
    background-color:#4CAF50;
    float:right;
}

.oneClick input {
    width:95%;
    padding:10px 2%;
    margin:20px 0 0 0;
    border:1px solid #ccc;
    font-size:16px;
    text-align:center;
}

.btn.buy{
    display: inline-block;
}
.btn.buy span {
    background-color:#4CAF50;
}

#subscribe {
    background-color:#2196F3;
    width:100%;
}

#subscribeBody {
    margin:0 auto;
    max-width:1000px;
    padding:10px;
}

.social {
    float:right;
}

.social a {
    color:#fff;
    font-size:20px;
    margin:0 5px;
}

#order table {
    margin:30px 0;
    width:100%;
}

#order table thead {
    text-align:center;
    font-size:13px;
    font-weight:300;
}

#order table thead tr td {
    padding:10px 0;
}

#order table tr td {
    border-bottom:1px dashed #f1f1f1;
    padding:5px;
}

#order table td.sum {
    text-align:center;
    padding:10px 0;
    color: #999;
    font-size: 16px;
    font-weight: 300;
}

#order table td.sum strong {
    color: #0277BD;
    font-size: 30px;
    font-weight: 400;
}

.orderFoto {
    width:15%;
}

.orderFoto img {
    width:100%;
}

.orderTitle {
    text-align:center;
    width:30%;
}

.orderTitle a {
    color: #0277BD;
    font-size: 16px;
    font-weight: 500;
    margin: 5px 0 10px 0;
    text-decoration: none;
}

.orderTitle span {
    color: #aaa;
    font-size: 13px;
    font-weight: 300;
    display:block;
}

.orderCount {
    text-align:center;
}

.orderCount input {
    border:1px solid #f5f5f5;
    font-size:14px;
    padding:5px 10px;
    width:20px;
    text-align:center;
}

.orderSale {
    text-align:center;
}

.orderSale span {
    text-align:center;
    font-size:14px;
    color:#666;
}

.orderPrice {
    color:#999;
    text-align:center;
}

.orderPrice strong {
    color:#000;
    font-size:20px;
    font-weight:400;
}

.orderDel span {
    color:#aaa;
    padding:10px;
    font-size:14px;
    cursor:pointer;
}

#footer {
    background-color:#F5F5F5;
    width:100%;
}

#footerBody {
    margin:0 auto;
    max-width:1000px;
    padding:15px 10px 5px 10px;
}

#footerBody h4 {
    font-size:15px;
    margin:0 0 10px 0;
}

#footerBody .block {
    float:left;
    font-size:15px;
    padding:15px 2%;
    width:29%;
    font-weight:300;
}

#footerBody p {
    color:#777;
    margin:0 0 10px 0;
}

#footerBody p a {
    color:#777;
    text-decoration:none;
}

#footerBody p a:hover {
    text-decoration:underline;
}

a.footLogo {
    display:inline-block;
    height:60px;
    overflow:hidden;
    padding:0;
    width:60px;
}

a.footLogo img {
    height:60px;
    width:60px;
}

#copyright {
    background-color:#F5F5F5;
    border-top:1px solid #eee;
    color:#777;
    font-weight:300;
    font-size:13px;
    padding:10px;
    text-align:center;
}

#copyright p {
    max-width:1000px;
    margin:0 auto;
}

#copyright a {
    color:#ccc;
}

.notify{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color:rgba(0,0,0,0.4);
}

.notify em{
    font-style:normal;
    font-weight:300;
    font-size:16px;
    text-align:center;
}
.notify > div{
    position: relative;
    width: 500px;
    background: #fff;
    padding:0 3%;
    margin: 1px auto;
    margin-top: 10%;
    box-shadow:0 2px 5px rgba(0,0,0,0.5);
}

.notify strong {
    display:block;
    text-align:center;
    font-weight:300;
    font-size:24px;
    padding:30px 0 10px 0;
}

.notify p {
    display:block;
    padding:30px 0 0 0;
}

.notify p a.btn {
    float:right;
    background-color:#4CAF50;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-size:17px;
    font-weight:300;
    opacity:0.8;
    padding:15px 20px;
    border-radius:4px;
}

.notify p a.btn:hover {
    opacity:1;
}

.notify p span {
    background-color:#aaa;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-size:17px;
    font-weight:300;
    opacity:0.8;
    padding:15px 20px;
    border-radius:4px;
}

.notify p span:hover {
    opacity:1;
}

.skipNotify.cross {
    position:absolute;
    top:0;
    right:0;
    border-radius:0;
    background-color:#e5e5e5;
    padding:10px 15px;
}

#steps {
    margin:30px auto;
    max-width:700px;
}

#steps h3 {
    font-size:20px;
    color:#777;
    margin:0 0 20px 0;
}

#steps h3 em {
    border-radius:50%;
    background-color:#0277BD;
    opacity:0.5;
    color:#fff;
    width:30px;
    height:23px;
    display:inline-block;
    text-align:center;
    padding:7px 0 0 0;
    font-weight:300;
    font-size:14px;
    font-weight:700;
    font-style:normal;
}

#steps span {
    display:block;
    color:#555;
    font-weight:300;
    padding:0 0 4px 0;
}

#steps strong {
    display:block;
    color:#111;
    font-weight:500;
    padding:0 0 4px 0;
}

#steps a {
    color:#2196F3;
}

.step {
    padding:0 0 30px 0;
}

.step .block {
    margin:0 auto;
    max-width:600px;
    padding:10px 10px;
}

.step input.inp {
    border: 1px solid #F3F3F3;
    border-radius:3px;
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 11px 2% 9px 2%;
    width:96%;
}

.step textarea {
    border: 1px solid #F3F3F3;
    border-radius:3px;
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 11px 2% 9px 2%;
    width:96%;
}

.step select {
    border: 1px solid #F3F3F3;
    border-radius:3px;
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 11px 2% 9px 2%;
    width:100%;
}

.step .block.conf p {
    font-weight:300;
    color:#000;
    padding:0 0 10px 0;
    font-size:16px;
}

.step .block.conf strong {
    font-weight:500!important;
    font-size:20px;
}

.send[disabled],.disabled {
    background-color:#bbb !important;
    cursor: not-allowed !important;
}

input.send {
    background-color:#4CAF50;
    border:0;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-size:17px;
    font-weight:300;
    opacity:0.8;
    padding:15px 20px 12px 20px;
    border-radius:3px!important;
    margin-top:20px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

input.send:hover {
    opacity:1;
}

label {
    font-weight:300;
}

.error{
    display: none;
    color: red;
    border:1px solid red;
    padding: 10px 3px;
    text-align: center;
}
.errorClass{
    border:1px solid red !important;
}

#catSort {
    background-color:#f5f5f5;
    border-radius:3px;
    margin:0 0 20px 0;
    padding:15px 2%;
    width:96%;
}

#catSort .block {
    float:left;
    width:33%;
    position:relative;
}

#catSort .block i {
    position:absolute;
    right:10px;
    top:35px;
}

#catSort .block.mid {
    width:34%;
}

#catSort .block p {
    color: #111;
    font-weight: 300;
    padding:0 2% 4px 2%;
    text-align:left;
}

#catSort .block select {
    border: 1px solid #f3f3f3;
    border-radius: 3px;
    color: #111;
    background-color:#fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 11px 2% 9px 2%;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor:pointer;
}

#news {
    max-width:1000px;
    margin:0 auto;
}

#page {
    max-width:1000px;
    margin:0 auto;
}

.text {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

.showMore {
    background-color:#f5f5f5;
    color:#888;
    display:block;
    margin:20px 0;
    padding:15px 15px;
    text-transform:uppercase;
}

.showMore:hover {
    background-color:#ccc;
    color:#fff;
}

.catAbout {
    text-align:left;
    font-weight:300;
}

.catAbout p {
    padding:0 0 15px 0;
}

.prodAbout {
    margin:30px auto;
    max-width:1000px;
    padding:0 10px;
}

.shareBtn {
    background-color:#f5f5f5;
    margin:30px auto;
    max-width:1000px;
    padding:10px;
    text-align:center;
}

#scrollUp {
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background: rgba(0,0,0,0.3);
    color: #fff;
    border-radius:5px;
    font-weight:300;  
}

#scrollUp:hover {
    background: rgba(0,0,0,0.7);
}

.tabs{
    display:inline-block;
    width:100%;
}
.tabs > div{
    padding:20px 0 10px 0;
}
.tabs ul{
    margin:0px;
    padding:0px;
}

.tabs a {
    color:#000;
    font-size:20px;
    font-weight:300;
}

.tabs a:hover {
    text-decoration:underline;
    color:#2196F3;
}

.tabs em {
    display:block;
    font-weight:300;
    color:#777;
    font-size:12px;
}

.tabs ul:after{
    content:"";
    display:block;
    clear:both;
    height:1px;
    background:#f5f5f5;
    top:0;
    position:relative;
}
.tabs ul li{
    margin:0px;
    padding:0px;
    cursor:pointer;
    display:block;
    float:left;
    padding:10px 10px 9px 10px;
    font-weight:300;
    font-size:14px;
    color:#000;
    top:1px;
    position:relative;
    z-index:1;
    border-radius:5px 5px 0 0;
}
.tabs ul li.active, .tabs ul li.active:hover{
    background:#e5e5e5;
}
.tabs ul li:hover{
    background:#f5f5f5;
}

#zoomContainer {
    max-width:90%!important;
}

.tabs iframe {
    width:100%!important;
    height:250px!important;
}

#feedback{
	background-color:#2196F3;
	width:310px;
	height:330px;
	position:fixed;
	bottom:0;
	right:120px;
	margin-bottom:-280px;
	z-index:10000;
        box-shadow:0 0 4px rgba(0,0,0,0.3);
        opacity:0.6;
}

#feedback:hover {
        opacity:1;
}

#feedback .section{
	border-bottom:none;
	padding:10px 25px 10px 25px;
}

#feedback h6{
	height:38px;
	margin:5px 0 5px;
        font-size:14px;
        font-weight:300;
        color:#fff;
	cursor:pointer;
}

#feedback textarea{
	background-color:#fff;
	border:none;
	color:#000;
	height:100px;
	padding:10px;
        font-size:16px;
	width:236px;
	resize:none;
	outline:none;
	overflow:auto;
}

#feedback a.submit{
	border:none;
	display:block;
	height:34px;
	margin:10px auto 0;
	text-decoration:none;
	width:91px;
        color:#fff;
}

#feedback a.submit:hover{
	background-position:left bottom;
}

#feedback a.submit.working{
	background-position:top right !important;
	cursor:default;
}

#feedback .message{
	color:#fff;
	margin-bottom:20px;
        font-weight:300;
}

#feedback .response{
	font-size:21px;
	margin-top:70px;
	text-align:center;
	text-shadow:2px 2px 0 #889889;
	color:#FCFCFC;
	display:block;
}

#feedback .arrow {
    float:right;
}

#feedback .arrow.up i.fa-chevron-down {
    display:none;
}

#feedback .arrow.down i.fa-chevron-up {
    display:none;
}

.productIcon {
    position:absolute;
    right:5px;
    top:5px;
}

.productIcon i {
    display:inline-block;
    cursor:pointer;
    width:26px;
    height:19px;
    border:1px solid #f5f5f5;
    border-radius:50% 50% 50% 0;
    font-size:14px;
    color:#ddd;
    text-align:center;
    padding:5px 0 0 0;
}

.videoTab {
    text-align:center;
}