*{
    margin:0;
    padding:0;
}

html { 
    height:100%;
    width:100%
}

body {
    font-family:'Roboto', sans-serif;
    font-size:14px;
    height:100%;
    position:relative;
    width:100%;
}

a img {
    border:0;
}

a {
    outline: 0;
    text-decoration:none;
}

.clear {
    clear:both;
}

input[type=text], input[type=submit], input[type=email], textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input:-moz-placeholder, textarea:-moz-placeholder {
    color:#999;
    font-family:'Roboto', sans-serif;
    font-weight:300;
    font-size:16px;
}
#searchField input::-webkit-input-placeholder {
    color:#999;
    font-weight:300;
}

input:focus, textarea:focus, select:focus {
    outline:none;
}
input[disabled] {
    cursor: not-allowed;
}

#topMenuFirst {
    margin:0 auto;
    max-width:1000px;
    padding:0 10px;
}

a#logo {
    display:block;
    height:60px;
    overflow:hidden;
    padding:10px 0;
    width:60px;
}

a#logo img {
    height:60px;
    width:60px;
}

#searchField {
    border:1px solid #f3f3f3;
    border-radius:3px;
    float:right;
    margin:20px 0 0 0;
    width:400px;
}

#searchField input.inp {
    border:none;
    color:#111;
    float:left;
    font-family:'Roboto', sans-serif;
    font-weight:500;
    font-size:16px;
    padding:11px 5px 9px 5px;
    width:250px;
}

#searchField input.btn {
    background-color:#EEE405;
    border:none;
    color:#fff;
    cursor:pointer;
    font-family:'Roboto', sans-serif;
    font-size:14px;
    font-weight:500;
    padding:12px 5px 11px 5px;
    width:97px;
}

#searchField i {
    background-color:#F5F5F5;
    color:#888;
    float:left;
    padding:13px 15px 13px 15px;
}

#topMenuSecond {
    background-color:#499CD0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    position:relative;
}

#topMenuSecondBody {
    margin:0 auto;
    max-width:1000px;
    padding:0 10px;
}

nav ul {
    list-style:none;
}

nav ul li {
    float:left;
}

nav ul li a {
    border-bottom:3px solid transparent;
    color:#fff;
    font-size:16px;
    font-weight:700;
    display:inline-block;
    padding:17px 0 13px 0;
    text-transform:uppercase;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

nav ul li a:hover {
    border-bottom:3px solid #E30613;
}

nav ul li a span {
    border-right:1px dashed #78CDE4;
    display:block;
    padding:0 15px;
}

a#basketSmall {
    color:rgba(255,255,255,1);
    float:right;
    font-size:16px;
    font-weight:300;
    padding:16px 10px 15px 10px;
    text-decoration:none;
}

a#basketSmall i {
    color:rgba(255,255,255,0.7);
}

#breadcrumbs {
    background-color:#F5F5F5;
}

#breadcrumbsBody {
    color:#999;
    font-size:13px;
    font-weight:300;
    margin:0 auto;
    max-width:1000px;
    padding:15px 10px;
}

#breadcrumbsBody a {
    color:#666;
    text-decoration:none;
}

#slider {
    margin:30px 0 0 0;
}

#slider img {
    width:100%;
}

#content {
    min-height:500px;
    width:100%;
}

#main {
    margin:0 auto;
    max-width:1000px;
    padding:0 10px;
}

#catPreview {
    padding:30px 0;
    text-align:center;
}

h3 {
    color:#666;
    font-size:30px;
    font-weight:500;
    text-align:left;
    margin:30px 0 0 0;
}

a.catPreviewBlock {
    border-radius:5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display:inline-block;
    height:294px;
    margin:0 10px 23px 10px;
    width:220px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

a.catPreviewBlock:hover {
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}

a.catPreviewBlock img {
    border-radius:5px;
    height:294px;
    width:220px;
}

#subscribe {
    background-color:#499CD0;
    width:100%;
}

#subscribeBody {
    margin:0 auto;
    max-width:1000px;
    padding:10px;
}

.social {
    float:right;
}

.social a {
    color:#fff;
    font-size:20px;
    margin:0 5px;
}

#footer {
    background-color:#F5F5F5;
    width:100%;
}

#footerBody {
    margin:0 auto;
    max-width:1000px;
    padding:0 10px;
}

#copyright {
    background-color:#F5F5F5;
    border-top:1px solid #eee;
}